<div class="container">
  <div class="alert alert-danger text-center">
    <h4>User does not exist! Register first.</h4>
  </div>
  <div>
      <%= link_to 'Signup', new_user_path, class: 'btn btn-lg btn-primary sign-up-btn' %>
  </div>
</div>