<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About</h1>
    <p class="lead">This is a awesome online platform with really cool products which you usually don't fined in your neighborhood store.</p>
  </div>
</div>